@use '../../styles/base.scss' as *;

.payment-link-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: $spacing-large;
}
