<div class="session-expired-wrapper">
  <div class="session-expired-container">
    <div class="session-expired-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
        />
      </svg>
    </div>
    <h1>This link is no longer valid</h1>
    <p class="session-expired-description">
      This link has expired or has already been used. For security reasons, each
      link can only be used once.
    </p>
    <p class="session-expired-help">
      Please contact the platform that sent you this link to request a new one.
    </p>
  </div>
</div>
