@use '../../../../../styles/base.scss' as *;
@use '../../../../../styles/forms.scss' as *;
@use '../../../../../styles/icons.scss' as *;
@use '../../../../../styles/collapsible.scss' as *;
@use '../../../../../styles/align.scss' as *;
@use '../../../../../styles/buttons.scss' as *;

select {
  width: 100%;
}

.pricing-model-selector {
  padding: $spacing-plus;
  background-color: $dark-background-color;
  border-radius: $border-radius-small;
}

.dimmed-disabled {
  opacity: $dimmed-extra !important;
  cursor: not-allowed;
}
