@use '../../../styles/account.scss' as *;
@use '../../../styles/buttons.scss' as *;
@use '../../../styles/forms.scss' as *;

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
