@use './base.scss' as *;

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-vert {
  align-items: center;
}

.align-vert-start {
  align-items: flex-start;
}

.align-horz {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.gap-extra-small {
  gap: $spacing-extra-small;
}

.gap-small {
  gap: $spacing-small;
}

.gap-snug {
  gap: $spacing-snug;
}

.gap {
  gap: $spacing;
}

.gap-medium {
  gap: $spacing-medium;
}

.gap-large {
  gap: $spacing-large;
}

.gap-extra-large {
  gap: $spacing-extra-large;
}
