<div class="field">
  <div class="field-title">Name (required)</div>
  <p class="field-help">
    Name of the product or service, visible to customers.
  </p>
  <div class="field-value">
    <input
      [ngModel]="name()"
      (ngModelChange)="OnNameChange($event)"
      type="text"
      [maxlength]="NAME_MAX_LENGTH"
      [class.field-error]="showErrors && nameError()"
    />
  </div>
  @if (showErrors && nameError()) {
  <div class="error">{{ nameError() }}</div>
  }
</div>

<div class="field">
  <div class="field-title">Description</div>
  <p class="field-help">
    Appears at checkout, on the customer portal, and in quotes.
  </p>
  <div class="field-value">
    <textarea
      [ngModel]="description()"
      (ngModelChange)="OnDescriptionChange($event)"
      class="draggable"
    ></textarea>
  </div>
</div>

<div class="field">
  <div class="field-top">
    <div class="field-title">Image</div>
    @if (image()) {
    <div
      class="remove-image-button"
      role="button"
      tabindex="0"
      (click)="RemoveImage()"
      (keydown.enter)="RemoveImage()"
      (keydown.space)="RemoveImage()"
    >
      <img class="icon" src="assets/icons/delete.svg" alt="Remove image" />
      <span>Remove</span>
    </div>
    }
  </div>
  <p class="field-help">Appears at checkout. Paste an image URL.</p>
  <div class="field-value">
    <input
      [ngModel]="image()"
      type="text"
      (ngModelChange)="OnImageChange($event)"
    />
  </div>
  @if (image()) {
  <div class="product-image-preview">
    <img [src]="image()" alt="Product image" />
  </div>
  }
</div>

<div class="field">
  <div
    class="collapsible-toggle"
    tabindex="0"
    role="button"
    (click)="ToggleDetailsExpanded()"
    (keydown.enter)="ToggleDetailsExpanded()"
    (keydown.space)="ToggleDetailsExpanded(); $event.preventDefault()"
  >
    <span class="collapsible-text">More options</span>
    <img
      src="assets/icons/chevron_down.svg"
      class="collapsible-down-icon"
      [class.expanded]="detailsExpanded()"
      alt="Down chevron icon"
    />
  </div>
</div>

@if(detailsExpanded()) {
<div class="field">
  <div class="field-title">Statement descriptor</div>
  <p class="field-help">
    Overrides default descriptors. Only used for subscription payments. Choose
    something your customers will recognise.
  </p>
  <div class="field-value">
    <input
      [ngModel]="statementDescriptor()"
      (ngModelChange)="OnStatementDescriptorChange($event)"
      type="text"
      [maxlength]="STATEMENT_DESCRIPTOR_MAX_LENGTH"
    />
  </div>
</div>

<div class="field">
  <div class="field-title">Unit label</div>
  <p class="field-help">
    Adding a unit label describes how you sell your product. For example, if you
    charge by the seat and use “seat” as the unit label, it will be included in
    the line item as the price per seat. Unit labels for packaged prices should
    be pluralised, e.g. “seats”. Unit labels appear in customers' receipts,
    invoices, Checkout, and the customer portal.
  </p>
  <div class="field-value">
    <input
      [ngModel]="unitLabel()"
      (ngModelChange)="OnUnitLabelChange($event)"
      type="text"
    />
  </div>
</div>

<div class="field">
  <div class="field-title">Metadata</div>
  <p class="field-help">Store additional, structured information.</p>
  <app-metadata-editor
    [metadata]="metadata()"
    (formChange)="OnMetadataChange($event)"
  ></app-metadata-editor>
</div>

<div class="field">
  <div class="field-title">Marketing feature list</div>
  <p class="field-help">
    A list of product features that will be visible to customers. Displayed in
    pricing tables.
  </p>
  @for (marketingFeature of marketingFeatures(); track $index; let index =
  $index) {
  <div class="field-value field-double">
    <input
      [ngModel]="marketingFeature.name"
      (ngModelChange)="OnMarketingFeatureNameChange(index, $event)"
      type="text"
    />
    <img
      src="assets/icons/close.svg"
      alt="Close icon"
      class="icon large-icon dimmed-hover"
      tabindex="0"
      (click)="RemoveMarketingFeature(index)"
      (keydown.enter)="RemoveMarketingFeature(index)"
      (keydown.space)="RemoveMarketingFeature(index)"
    />
  </div>
  }
  <div
    class="flex align-vert gap-extra-small dimmed-hover"
    tabindex="0"
    (click)="AddMoreMarketingFeature()"
    (keydown.enter)="AddMoreMarketingFeature()"
    (keydown.space)="AddMoreMarketingFeature()"
  >
    <img src="assets/icons/add.svg" class="icon" alt="Add icon" />
    <span class="uline">Add line</span>
  </div>
</div>
}

<div class="line"></div>

@if(mode === 'create'){
<div class="field">
  <div class="field-title">Pricing</div>
  <div class="field-value">
    <div class="field-pill">
      <div
        class="field-pill-option"
        role="button"
        tabindex="0"
        [class.field-pill-option-selected]="selectedPricing() === 'recurring'"
        (click)="ChangePricing('recurring')"
        (keydown.enter)="ChangePricing('recurring')"
        (keydown.space)="ChangePricing('recurring')"
      >
        <span>Recurring</span>
      </div>
      <div
        class="field-pill-option"
        role="button"
        tabindex="0"
        [class.field-pill-option-selected]="selectedPricing() === 'one-time'"
        (click)="ChangePricing('one-time')"
        (keydown.enter)="ChangePricing('one-time')"
        (keydown.space)="ChangePricing('one-time')"
      >
        <span>One-time</span>
      </div>
    </div>
  </div>
</div>

<div class="field">
  <div class="field-title">Amount (required)</div>
  <div class="field-value">
    <div class="dollar-input">
      <span>USDC$</span>
      <input
        [ngModel]="unitAmount()"
        (ngModelChange)="OnUnitAmountChange($event)"
        type="number"
        [class.field-error]="showErrors && unitAmountError()"
      />
    </div>
  </div>
  @if (showErrors && unitAmountError()) {
  <div class="error">{{ unitAmountError() }}</div>
  }
</div>

@if(selectedPricing() === 'recurring') {
<div class="field">
  <div class="field-title">Billing Period</div>
  <div class="field-value">
    <select [ngModel]="interval()" (ngModelChange)="OnIntervalChange($event)">
      <option value="hour">Hourly</option>
      <option value="day">Daily</option>
      <option value="week">Weekly</option>
      <option value="month">Monthly</option>
      <option value="year">Yearly</option>
    </select>
  </div>
</div>
} } @if(mode === 'edit'){
<div class="field">
  <div class="field-title">Pricing</div>
  <div class="field-value">
    <app-paginated-list
      #pricesList
      endpoint="prices"
      [columns]="priceColumns()"
      [limit]="10"
      [queryParams]="priceQueryParams()"
      [paginationEnabled]="false"
      [hideColumnHeadings]="true"
      (rowClick)="OnPriceListClick($event)"
    ></app-paginated-list>
  </div>
</div>

<button
  type="button"
  class="action-button action-button-dainty action-button-wide outline"
  (click)="AddPrice()"
  (keydown.enter)="AddPrice()"
  (keydown.space)="AddPrice()"
  tabindex="0"
>
  <img src="assets/icons/add.svg" class="icon" alt="Add icon" />
  <span>Add another price</span>
</button>

<div class="line"></div>
}

<app-price-actions-host></app-price-actions-host>
